button {
    font-size: 20px;
    height: 3.2em; /* 64px */
    line-height: 1.2em; /* 24px */
    padding: 1em 18px;
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background: #286782;
    border: none;
    box-shadow: none;
    cursor: default;
    margin: 0;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
