.primary-button {
    font-size: 20px;
    height: 3.2em; /* 64px */
    line-height: 1.2em; /* 24px */
    padding: 1em 18px;
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    border-radius: 5px;
    background: #286782;
    border: none;
    box-shadow: none;
    cursor: default;
    margin: 0;
}

.primary-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:hover {
    background-color: #4284a0;
    transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    box-shadow: 0 1px 10px 0 rgba(40, 103, 130, 0.185);
    transform: translateY(-1px);
}

button:active {
    box-shadow: 0 -1px 0 0 #4e4e4e;
    transform: translateY(1px);
}

button:disabled {
    opacity: 0.7;
}

button:focus {
    outline: 1px dotted #666;
}

button:focus:hover {
    outline: transparent;
}

@media (max-device-width: 600px) {
    .primary-button {
        width: 100%;
    }
}
