html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px; /* margin-bottom = footer height */
    background-color: #fbfafa;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
