.page-footer {
    height: 5.714em;
    display: block;
    font-size: 0.778em;
    font-weight: 400;
    color: #555559;
    background-color: #efefef;
    box-sizing: border-box;
}

.page-footer .content-wrapper {
    text-align: right;
    margin: 0;
    padding: 2.286em 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer-info {
    margin: 0;
    display: inline-block;
}

.footer-info > .footer-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: baseline;
}

.footer-info > .footer-item + .footer-item::before {
    content: '|';
    margin: 0 20px;
}

.page-footer .copyright {
    float: left;
}

@media (max-device-width: 920px) {
    .page-footer {
        height: 140px;
    }

    .page-footer .content-wrapper {
        height: 100%;
    }

    .footer-info > .footer-item {
        display: block;
        line-height: 1.8em;
    }

    .footer-info > .footer-item + .footer-item::before {
        content: none;
    }
}

@media (max-device-width: 600px) {
    .page-footer {
        height: 180px;
    }

    .footer-info {
        display: block;
        float: left;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer-info > .footer-item + .footer-item::before {
        border-top: 1px solid #000;
    }
}
