textarea {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1.125em; /* 18px */
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 5px;
    color: #000;
    padding: calc(1.5em / 2) 13px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: none;
    background: inherit;
    resize: vertical;
    min-height: 5em; /* rows * line-height + padding-top + paddint-bottom + borders */
    overflow: auto;
    background-clip: padding-box;
}

textarea:focus {
    outline: 1px dashed #888;
}

textarea:focus:hover {
    outline: transparent;
}
