.contact-page {
    padding: 120px 0 180px;
    text-align: center;
}

.contact-form {
    display: inline-block;
    margin: 0 auto;
    color: #000;
}

.contact-form h1 {
    margin-bottom: .5em;
    font-size: 2.5em;
    color: inherit;
    font-weight: 500;
}

.contact-form small {
    max-width: 500px;
    display: inline-block;
    font-size: 16px;
    color: inherit;
    margin-bottom: 4em;
    line-height: 2em;
}

.contact-form .input-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: inherit;
}

.contact-form .submit-button {
    font-size: 1em;
}

.contact-form .control-error {
    border: 1px solid red;
}

@media (max-device-width: 600px) {
    .contact-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-form .input-field {
        width: 100%;
    }
}
